*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    color: #001011;
}

body{
    height: 400vh;
    width: 100vw;
    background: #FFC49B;
}

section{
    width: 100%;
    height: 100lvh;
    overflow: hidden;
}

h1{
    font-size: 6rem;
    font-weight: 800;
    margin: 5%;
}

#firstSection, #thirdSection *{
    text-align: left;
}

#secondSection, #fourthSection *{
    text-align: right;
}

#callToActionButton{
    text-decoration: none;
    background-color: #6CCFF6;
    font-weight: 600;
    padding: 1% 3%;
    border-radius: 15px;

    font-size: 1.8rem;

    margin: 5%;
}

p{
    font-size: 2rem;
    width: 90%;
    margin: 5%;
}

.left{
    margin: 15% 0 15% 0;
    height: 70%;
    width: 50%;
    float: left;
}

.right{
    margin: 15% 0 15% 0;
    height: 70%;
    width: 50%;
    float: right;
}

.right img{
    position: absolute;
    height: 80vh;
    right: 15vw;
}


.right #firstImg{
    z-index: 30;
}
.right #secondImg{
    transition: all 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.right #thirdImg{
    transition: all 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    
}

#firstImg:hover + #secondImg{
    transform: rotate(-15deg);
    right: 25vw;
}

#firstImg:hover ~ #thirdImg{
    transform: rotate(15deg);
    right: 5vw;
}


header{
    width: 100vw;
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #FFC49B;
}

#fourthSection img{
    width: 90%;
    border-radius: 20px;
    margin: 5%;
}

#thirdSection .right{
    height: 90%;
    margin: 0;
}

#thirdSection .right .images{
    position: absolute;
    right: 5vw;
}

#thirdSection .right .images *{
    transition: all 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#thirdSection .right .images #thfirstImg{
    z-index: 10;
}

#thirdSection .right .images #thsecondImg{
    z-index: 9;
}

#thirdSection .right .images #ththirdImg{
    z-index: 8;
}

#thirdSection .right .images #thfourthImg{
    z-index: 7;
}

#thirdSection .right .images #thfiftImg{
    z-index: 6;
}

#thirdSection .right .images #thfirstImg:hover + #thsecondImg{
    transform: rotate(-15deg) translateX(-50px) translateY(-50px);
}


#thirdSection .right .images #thfirstImg:hover ~ #ththirdImg{
    transform: rotate(15deg) translateX(50px) translateY(-50px);
}


#thirdSection .right .images #thfirstImg:hover ~ #thfourthImg{
    transform: rotate(-30deg) translateX(-100px) translateY(-100px);
}


#thirdSection .right .images #thfirstImg:hover ~ #thfiftImg{
    transform: rotate(30deg) translateX(100px) translateY(-100px);
}