:root{
    --firstColor: #EEEEEE;
    --secondColor: #FF4A4A;
    --thirdColor: #C4FF93;
    --fourthColor: #121212;
    --fiftColor: #EEEEEE76;
}




*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    color: var(--firstColor);
}

header img{
    height: 10vh;
    filter: invert(1);
}

header img.lowEnough{
    filter: invert(0);
}

body{
    background: var(--secondColor);
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    animation: none;
}

#timerBg{
    background: var(--thirdColor);
    height: 0%;
    width: 100vw;
    position: absolute;
    bottom: 0;
    z-index: -1;
}

.upperField{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40vh;
    width: 40vw;
    background: var(--fiftColor);
    border-radius: 53px;

    padding: 1vh;
}

.upperField h2{
    font-weight: 100;
    font-size: 9rem;
    width: 100%;
    text-align: center;

    color: var(--fourthColor);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 70%;

    z-index: 2;
}

@keyframes topToBottom{
    from{
        height: 100%;
    }

    to{
        height: 0;
    }
}

@keyframes flyIn{
    from{
        transform: scale(1, 0.1);
        overflow: hidden;
    }

    to{
        transform: scale(1, 1);
        overflow: hidden;
    }
}


.upperField button{
    width: 60%;
    height: 20%;
    background: var(--fiftColor);
    color: var(--fourthColor);
    border: none;
    border-radius: 10px;

    font-size: 3rem;
}

.menu {
    position: absolute;
    width: 20vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px;
    border-radius: 10px;
}

.menu::before{
    position: relative;
    width: 10px;
    height: 10px;
    background: black;
}

.menu-content {
    display: none;
    background-color: var(--fiftColor);
    border-radius: 10px;
    padding: 1vh 0;
    width: 100%;
    text-align: center;
    color: var(--fourthColor);

    transition: all 0.3s ease;
}
.menu:hover .menu-content {
    display: block;

    animation: flyIn 0.3s ease-in;
}


.bl { bottom: 1vh; left: 1vh; }
.br { bottom: 1vh; right: 1vh; }
.tr { top: 5vh; right: 1vh; }
.tl { top: 5vh; left: 1vh; }

.icon {
    filter: invert(1);
    cursor: pointer;
    margin-bottom: 1vh;
}

.menu img{
    width: 5vh;
}


.footerDisplay {
    width: 35%;
    border-radius: 10px;
    border: none;
    padding-left: 1vw;
    background: var(--firstColor)b3;
    color: var(--fourthColor);

    text-align: center;
}

.setting p{
    color: var(--fourthColor);
}

.setting{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
  -moz-appearance: textfield;
}


@media (max-width: 768px) {
    .upperField{
        width: 80vw;
    }

    .upperField h2{
        font-size: 10rem;
    }

    .upperField button{
        font-size: 3rem;
    }

    footer .goDown{
        width: 15vw;
        height: 4vw;
    }

    footer input{
        pointer-events: none;
        user-select: none;
    }
    
    footer .controller{
        width: 80%;
    }
    
    footer .controller p{
        height: 50%;
    }
  }
  
  
  @media (max-width: 480px) {
    .upperField{
        width: 90vw;
    }

    .upperField h2{
        font-size: 6rem;
    }

    .upperField button{
        font-size: 3rem;
    }

    footer .goDown{
        width: 20vw;
        height: 5vw;
    }
    
    footer .controller{
        width: 90%;
    }
    
    footer .controller p{
        height: 50%;
    }
  }

  #mode1{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    opacity: 0;
    visibility: hidden;

    animation-fill-mode: forwards;

    z-index: 3;
  }

@keyframes fade-out {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        background: black;
    }
}

#container{
    position: absolute;
    background-color: var(--firstColor);
    bottom: 15px;
    left: 10px;
    width: 250px;
    height: 10vh;
    overflow: hidden;
    display: flex;
    align-items:center;
    flex-direction: column;

    padding: 1vh;
    border-radius: 10px;
    visibility: hidden;


}

#icon{
    background-color: var(--firstColor);
    padding: 5px;
    height: 5vh;
    width: 5vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 40px;
    left: 15px;
    z-index: 5;
}

#container .OtherIcons{
    background-color: var(--firstColor);
    height: 5vh;
    width: 5vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container .div1 { grid-area: 2 / 1 / 3 / 2; }
#container .div2 { grid-area: 2 / 2 / 3 / 3; }
#container .div3 { grid-area: 2 / 3 / 3 / 4; }
#container .div4 { grid-area: 1 / 3 / 2 / 4; }
#container .div5 { grid-area: 1 / 2 / 2 / 3; }
#container .div6 { grid-area: 1 / 1 / 2 / 2; }

#container input{
    width: 35px;
    height: 20px;
    text-align: center;
    border-radius: 5px;

    margin: 0 10px 0 10px;

    color: var(--fourthColor);
}

#container p{
    font-size: 30px;
    color: var(--fourthColor);
}

#firstSetting{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#secondSetting{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.br img{
    border-radius: 10px;
}


input[type="range"] {
  -webkit-appearance: none;
  appearance: none; 
  
  width: 90%;
  cursor: pointer;
  outline: none;

  overflow: hidden;
  border-radius: 19px;
}


input[type="range"]::-webkit-slider-runnable-track {
  height: 15px;
  background: var(--firstColor);
  border-radius: 19px;
}


input[type="range"]::-moz-range-track {
  height: 15px;
  background: var(--firstColor);
  border-radius: 19px;
}


input[type="range"]::-webkit-slider-thumb {
  
  -webkit-appearance: none;
  appearance: none; 
  
  height: 15px;
  width: 15px;
  background-color: var(--firstColor);
  border-radius: 50%;
  border: 2px solid var(--secondColor);
  
  box-shadow: -407px 0 0 400px var(--secondColor);
}



input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: var(--firstColor);
  border-radius: 50%;
  border: 1px solid var(--secondColor);
  
  box-shadow: -407px 0 0 400px var(--secondColor);
}

#overlay{
    width: 100%;
    height: 100%;

    position: absolute;
    z-index: 4;
    pointer-events: none;

    background-image: url(Img/Vignette.png);
    filter: invert(1);
    opacity: 0;

    background-size: cover;
}

@keyframes overlayAnimation {
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0.1;
    }
    40%{
        opacity: 0;
    }
    60%{
        opacity: 0.3;
    }
    70% {
        opacity: 0;
    }
    100%{ 
        opacity: 0.5;
    }
}